NODE_DEBUG=module
PORT=8080
#
COMMON_MONGODB_URL=mongodb://mongodb:27017
COMMON_MONGODB_DB_NAME=global
#
COMMON_MONGODB_URL=mongodb://mongodb:27017
STATS_MONGODB_DB_NAME=stats_1

MYSQL_DB_HOST=mysqldb
MYSQL_DB_USER=root
MYSQL_DB_PASSWORD=root
MYSQL_DB_NAME=nodejs_db

PRINT_API_CALLS=true

LOG_PATH=/app/var/log

CHECKOUT_PUBLIC_KEY='pk_test_123'
CHECKOUT_SECRET_KEY='sk_test_456'

REDIS_URL=redis://cache:6379